<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="fonts/fonts.css" />
  <link rel="stylesheet" type="text/css" href="gameStylesheet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <script src="socket.io/socket.io.js"></script>
  <script src="client.js"></script>
  <script src="isomer.js"></script>
  <script src="jquery-3.2.1.min.js"></script>
  <script src="spin.js"></script>

    <title>Bloc</title>
</head>
<body>
 <nav class="navbar navbar-default">
   <div id="navbarCanvas" class="navbar-header navbar-left">
     <canvas width="100px" height="120px" id="centerpiece"></canvas>
   </div>

   <div id="navbarTitle" class="navbar-header">
     <p id="titleText" class = "navbar-text">Bloc </p>
   </div>

   <div id= "navbarDiv" class="navbar-header navbar-right">

   <p class ="text-center navbar-text"><% if (user.facebook.displayName){ %></p>
  <strong>Welcome</strong>: <%= user.facebook.displayName %><br>  <a href="/logout" class="btn btn-default btn-sm navbar-btn navbar-right">Logout</a>
  <% } else { %>
    <strong>Welcome</strong>: <%= user.local.displayName %><br>  <a href="/logout" class="btn btn-default btn-sm navbar-btn navbar-right">Logout</a>
    <% } %>
</div>
</nav>
  <!-- <strong>token</strong>: <%= user.facebook.token %><br>
  <strong>email</strong>: <%= user.facebook.email %><br> -->
  <div id="sessionDiv">
    <h3> Start new game </h3>
    <input type="text" id="newGameName">
    <button id="newGame">New Game</button>
    Grid size
    <select id="inputGridSize">
      <option value="small">Small</option>
      <option value="large">Large</option>
    </select>
    Player limit
    <input type="number" id="roomLimit" min="0" max="10" step="1" value="2">
    Starting world
    <select id="saves">
      <option value="0">No saves</option>
    </select>
    <h3> Join a game </h3>
    <div><ul id="listOfGames"></ul></div>
  </div>
    <div class="Row" id="gameDiv">
      <div class="Column">
        <div>


          <canvas style="border: 2px black solid;border-radius:5px;background:white;" id="canvas" width="600px" height="660px" ></canvas>
        </div>
      </div>
      <div class="Column-controls">
        <h1> BLOC </h1>
        <div id="positionDiv">Grid Pos</div>
        <div id="blockDiv">Block Count</div>
        <div id="controls" style="width:580px;padding:10px;margin-top:10px;border: 2px black solid;border-radius:5px;">
          <br/>
        <select id="shapeType">
          <option value="0">Cube</option>
          <option value="1">Pyramid</option>
          <option value="2">Cylinder</option>
        </select>
        <select id="texture">
          <option value="">Plain colour</option>
          <option value="wood">Wood</option>
          <option value="water">Water</option>
          <option value="grass">Grass</option>
          <option value="sand">Sand</option>
          <option value="snow">Snow</option>
          <option value="dirt">Dirt</option>
          <option value="stone">Stone</option>
          <option value="ice">Ice</option>
          <option value="log_oak">Oak</option>
        </select>
        <button id="rotate">Rotate</button><br/><br/>
        <button id="clear">Clear blocks</button><br/><br/>
        <button id="toggleGridlines">Toggle gridlines</button><br/><br/>
        <button id="toggleFloor">Toggle floor</button><br/><br/>
        <button id="toggleBuildGrid">Toggle build grid</button><br/><br/>
        <button id="changeGridlinecolour">Change grid colour</button><br/><br/>
        <button id="changeCanvasColour">Change background colour</button><br/><br/>
        <button id="changeFloorColour">Change floor colour</button><br/><br/>
        <button id="changeBuildGridColour">Change build grid  colour</button><br/><br/>
        <button id="saveGame"> Save game </button><br/><br/>

        <button><a class="button" id="saveCanvas">Save as image</a></button>


        <button id="leaveGame">Leave game</button><br/><br/>



        <div class = "colourSelector">
          Red<input type="range" min="0" max="255" step="1" id="red" ><br/><br/>
          Green<input type="range" min="0" max="255" step="1" id="green" ><br/><br/>
          Blue<input type="range" min="0" max="255" step="1" id="blue" ><br/><br/>
          <input id="display" type="block"  width="10%">
        </div>
        </div>

<div id="chat" style="width:580px;padding:10px;margin-top:10px;border: 2px black solid;border-radius:5px; overflow:auto;height:200px;">

  </div>
  <input id="text" type=text>
  <button id="sendMessage">Send</button>
      </div>
    </div>
  <!-- </center> -->
<!-- <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1> -->

    <!-- </div>

    <div class="row"> -->

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div> -->


        <!-- FACEBOOK INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <p>
                        <strong>id</strong>: <%= user.facebook.displayName %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <!-- <strong>name</strong>: <%= user.facebook %> -->
                    <!-- </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>
